<launch>
  <arg name="main" default="true" />
  <arg name="vive" default="true" />
  <arg name="device" default="vive" />
  <arg name="head" default="true" />
  <arg name="respeaker" default="true" />
  <arg name="mirror" default="false" />
  <arg name="logging" default="true" />
  <arg name="kinfu" default="false" />
  <arg name="display" default="true" />
  <arg name="home_dir" default="$(env HOME)" />

  <!-- vive -->
  <arg name="button_toggle" default="true" />

  <!-- workspace -->
  <arg name="workspace_max_x" default="false" />
  <arg name="workspace_min_x" default="false" />
  <arg name="workspace_max_y" default="false" />
  <arg name="workspace_min_y" default="false" />
  <arg name="workspace_max_z" default="false" />
  <arg name="workspace_min_z" default="false" />

  <!-- camera-->
  <arg name="hmd_left_image" default="/virtual_camera/left/rviz_image" />
  <arg name="hmd_right_image" default="/virtual_camera/right/rviz_image" />
  <arg name="DECOMP_CAMERA_INFO"
       default="/kinect_head_decompressed/depth_registered/camera_info" />
  <arg name="DECOMP_RGB_CAMERA_INFO"
       default="/kinect_head_decompressed/rgb/camera_info" />
  <arg name="DECOMP_IMAGE_DEPTH"
       default="/kinect_head_decompressed/depth_registered/image_rect" />
  <arg name="DECOMP_IMAGE_COLOR" default="/kinect_head_decompressed/rgb/image_rect_color" />
  <arg name="DECOMP_POINTS" default="/kinect_head_decompressed/depth_registered/points" />

  <!-- pr1012 parameters -->
  <arg name="CAMERA_INFO" default="/head_mount_kinect/qhd/camera_info" />
  <arg name="RGB_CAMERA_INFO" default="/head_mount_kinect/qhd/camera_info" />
  <arg name="IMAGE_COLOR" default="/head_mount_kinect/qhd/image_color_rect" />
  <arg name="IMAGE_DEPTH" default="/head_mount_kinect/qhd/image_depth_rect" />
  <arg name="IMAGE_DEPTH_TYPE" default="compressed" />
  <arg name="COMP_IMAGE_COLOR" default="/head_mount_kinect/qhd/image_color_rect/compressed" />
  <arg name="COMP_IMAGE_DEPTH" default="/head_mount_kinect/qhd/image_depth_rect/compressed" />

  <!-- prosilica -->
  <!--
  <arg name="PROSILICA_RGB_CAMERA_INFO"
       default="/prosilica/camera_info" />
  <arg name="PROSILICA_IMAGE_COLOR"
       default="/prosilica/image_rect" />
  <arg name="PROSILICA_DECOMP_RGB_CAMERA_INFO"
       default="/prosilica_decompressed/rgb/camera_info" />
  <arg name="PROSILICA_DECOMP_IMAGE_COLOR"
       default="/prosilica_decompressed/rgb/image_rect_color" />
  -->

  <include file="$(find eus_vive)/launch/pr2/pr2_vr.launch" pass_all_args="true" />
</launch>
