<launch>
  <arg name="main" default="true" />
  <arg name="vive" default="true" />
  <arg name="device" default="vive" />
  <arg name="head" default="true" />
  <arg name="mirror" default="false" />
  <arg name="kinfu" default="false" />
  <include file="$(find pr2_gazebo)/launch/pr2_empty_world.launch" />
  <include file="$(find eus_vive)/launch/pr2/pr2_vr.launch">
    <arg name="hmd_left_image" value="/wide_stereo/left/image_rect_color" />
    <arg name="hmd_right_image" value="/wide_stereo/right/image_rect_color" />
    <arg name="main" value="$(arg main)" />
    <arg name="vive" value="$(arg vive)" />
    <arg name="device" value="$(arg device)" />
    <arg name="head" value="$(arg head)" />
    <arg name="mirror" value="$(arg mirror)" />
    <arg name="kinfu" value="$(arg kinfu)" />
  </include>
</launch>
