<launch>
  <arg name="CAMERA_INFO" />
  <arg name="IMAGE_DEPTH" />
  <arg name="IMAGE_COLOR" />

  <node name="kinfu"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/Kinfu"
        output="screen">
    <remap from="~input/camera_info" to="$(arg CAMERA_INFO)" />
    <remap from="~input/depth" to="$(arg IMAGE_DEPTH)" />
    <remap from="~input/color" to="$(arg IMAGE_COLOR)" />
    <rosparam subst_value="true">
      auto_reset: true
      integrate_color: true 
      save_dir: $(optenv HOME)/.ros/eus_vive/kinfu
      volume_size: 6.0
    </rosparam>
  </node>
</launch>
