<launch>
  <arg name="main" default="true" />
  <arg name="vive" default="true" />
  <arg name="head" default="false" />
  <arg name="mirror" default="false" />

  <!-- vive -->
  <arg name="button_toggle" default="true" />
  <arg name="b_lighthouse_id" default="" />
  <arg name="c_lighthouse_id" default="" />
  <arg name="l_controller_id" default="" />
  <arg name="r_controller_id" default="" />

  <!-- workspace -->
  <arg name="workspace_max_x" default="false" />
  <arg name="workspace_min_x" default="false" />
  <arg name="workspace_max_y" default="false" />
  <arg name="workspace_min_y" default="false" />
  <arg name="workspace_max_z" default="false" />
  <arg name="workspace_min_z" default="false" />

  <node name="initialize_baxter" pkg="jsk_baxter_startup" type="initialize_baxter.py" />

  <include file="$(find eus_vive)/launch/include/vive.launch" if="$(arg vive)" />

  <group ns="eus_vive" if="$(arg vive)">
    <rosparam subst_value="true">
      button_toggle: $(arg button_toggle)
      b_lighthouse_id: $(arg b_lighthouse_id)
      c_lighthouse_id: $(arg c_lighthouse_id)
      l_controller_id: $(arg l_controller_id)
      r_controller_id: $(arg r_controller_id)
      workspace:
        max_x: $(arg workspace_max_x)
        min_x: $(arg workspace_min_x)
        max_y: $(arg workspace_max_y)
        min_y: $(arg workspace_min_y)
        max_z: $(arg workspace_max_z)
        min_z: $(arg workspace_min_z)
    </rosparam>
  </group>
  <group ns="eus_vive" unless="$(arg vive)">
    <rosparam subst_value="true">
      button_toggle: $(arg button_toggle)
      workspace:
        max_x: $(arg workspace_max_x)
        min_x: $(arg workspace_min_x)
        max_y: $(arg workspace_max_y)
        min_y: $(arg workspace_min_y)
        max_z: $(arg workspace_max_z)
        min_z: $(arg workspace_min_z)
    </rosparam>
  </group>
  <group if="$(arg main)">
    <group if="$(arg mirror)">
      <node if="$(arg head)" pkg="eus_vive" type="baxter-vr-main.l" name="baxter_vr_main"
            args="&quot;(main :head t :mirror t :loop-enable nil)&quot;" output="screen" />
      <node unless="$(arg head)" pkg="eus_vive" type="baxter-vr-main.l" name="baxter_vr_main"
            args="&quot;(main :head nil :mirror t :loop-enable nil)&quot;" output="screen" />
    </group>
    <group unless="$(arg mirror)">
      <node if="$(arg head)" pkg="eus_vive" type="baxter-vr-main.l" name="baxter_vr_main"
            args="&quot;(main :head t :mirror nil :loop-enable nil)&quot;" output="screen" />
      <node unless="$(arg head)" pkg="eus_vive" type="baxter-vr-main.l" name="baxter_vr_main"
            args="&quot;(main :head nil :mirror nil :loop-enable nil)&quot;" output="screen" />
    </group>
  </group>
  <node name="service_button" pkg="jsk_rqt_plugins" type="rqt_service_buttons">
    <rosparam subst_value="true" >
      layout_yaml_file: file://$(find eus_vive)/resource/reset_button_layout.yaml
    </rosparam>
  </node>
</launch>
