<launch>
  <arg name="rosbag" />
  <arg name="camera_ns" default="realsense_torso"/>
  <arg name="gui" default="true" />
  <arg name="loop" default="true" />
  <arg name="lgripper_type" default="softhand" />
  <arg name="rgripper_type" default="softhand" />
  <arg name="manager" default="rosbag_play_nodelet_manager" />

  <!-- gripper and display-->
  <arg name="finger" default="standard_narrow" />
  <arg name="finger_tip" default="paddle_tip" />
  <arg name="left_electric_gripper" default="$(eval arg('lgripper_type') == 'parallel')" />
  <arg name="right_electric_gripper" default="$(eval arg('rgripper_type') == 'parallel')" />

  <arg name="loop_flag" value="--loop" if="$(arg loop)" />
  <arg name="loop_flag" value="" unless="$(arg loop)" />

  <arg name="RGB_CAMERA_INFO" value="/$(arg camera_ns)/color/camera_info" />
  <arg name="RGB_IMAGE" value="/$(arg camera_ns)/color/image_rect_color" />
  <arg name="DEPTH_CAMERA_INFO" value="/$(arg camera_ns)/aligned_depth_to_color/compressed/camera_info" />
  <arg name="DEPTH_IMAGE" value="/$(arg camera_ns)/aligned_depth_to_color/compressed/image_raw" />

  <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen" />
  <node name="rgb_decompress" pkg="image_transport" type="republish"
        args="compressed in:=$(arg RGB_IMAGE) raw out:=$(arg RGB_IMAGE)" />
  <node name="depth_decompress" pkg="image_transport" type="republish"
        args="compressedDepth in:=$(arg DEPTH_IMAGE) raw out:=$(arg DEPTH_IMAGE)" />
   <node pkg="nodelet" type="nodelet" name="point_cloud_xyzrgb"
        args="load depth_image_proc/point_cloud_xyzrgb $(arg manager)" output="screen" >
    <remap from="rgb/camera_info" to="$(arg RGB_CAMERA_INFO)" />
    <remap from="rgb/image_rect_color" to="$(arg RGB_IMAGE)" />
    <remap from="depth_registered/image_rect" to="$(arg DEPTH_IMAGE)" />
    <remap from="depth_registered/points" to="/$(arg camera_ns)/depth_registered/points" />
    <rosparam>
      queue_size: 100
    </rosparam>
  </node>

  <param name="/use_sim_time" value="true" />
  <param name="robot_description"
         command="$(find xacro)/xacro --inorder $(find eus_teleop)/urdf/baxter.urdf.xacro
                  gazebo:=false finger:=$(arg finger) finger_tip:=$(arg finger_tip)
                  left_electric_gripper:=$(arg left_electric_gripper)
                  right_electric_gripper:=$(arg right_electric_gripper)" />

  <node pkg="rosbag" type="play" name="rosbag_play"
        args="$(arg rosbag) $(arg loop_flag) --clock" output="screen" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="joint_states" to="/robot/joint_states"/>
  </node>

  <node name="$(anon rviz)" pkg="rviz" type="rviz"
        args="-d $(find eus_teleop)/rvizconfig/baxter/baxter_rosbag_play.rviz"
        if="$(arg gui)" />

</launch>
