<launch>
  <arg name="main" default="true" />
  <arg name="vive" default="true" />
  <arg name="head" default="false" />

  <node name="initialize_baxter" pkg="jsk_baxter_startup" type="initialize_baxter.py" />

  <include file="$(find eus_vive)/launch/include/vive.launch" if="$(arg vive)" />

  <group ns="eus_vive">
    <rosparam subst_value="true">
      b_lighthouse_id: $(arg b_lighthouse_id)
      c_lighthouse_id: $(arg c_lighthouse_id)
      l_controller_id: $(arg l_controller_id)
      r_controller_id: $(arg r_controller_id)
    </rosparam>
  </group>
  <group if="$(arg main)">
    <node if="$(arg head)" pkg="eus_vive" type="baxter-vive.l" name="main"
          args="&quot;(main :head t)&quot;" output="screen" />
    <node unless="$(arg head)" pkg="eus_vive" type="baxter-vive.l" name="main"
          args="&quot;(main :head nil)&quot;" output="screen" />
  </group>
</launch>
