<launch>
  <arg name="input_cloud" />
  <arg name="camera_frame_id"  />
  <arg name="manager" />

  <arg name="launch_transformable_server" default="true" />
  <arg name="clip" default="true" />

  <arg name="CLOUD" value="bbox_cloud_extract/output" if="$(arg clip)" />
  <arg name="CLOUD" value="$(arg input_cloud)" unless="$(arg clip)" />

  <group if="$(arg clip)">
    <node name="transformable_markers_client"
          pkg="jsk_interactive_marker" type="transformable_markers_client.py"
          if="$(arg launch_transformable_server)"
          output="screen">
      <remap from="~server" to="transformable_interactive_server" />
      <rosparam subst_value="true">
        config_file: $(find eus_vive)/config/baxter/workspace_transformable_markers_client.yaml
        config_auto_save: true
        interactive_mode: 2  # BUTTON
      </rosparam>
    </node>

    <!-- bboxes -> bbox -->
    <node name="bboxes_to_bbox"
          pkg="jsk_pcl_ros_utils" type="bounding_box_array_to_bounding_box"
          output="screen" >
      <remap from="~input" to="transformable_markers_client/output/boxes" />
      <rosparam>
        index: 0
      </rosparam>
    </node>

    <!-- attention_clipper -->
    <node name="bbox_attention_clipper"
          pkg="nodelet" type="nodelet" args="load jsk_pcl/AttentionClipper $(arg manager)"
          output="screen" >
      <remap from="~input/points" to="$(arg input_cloud)" />
      <remap from="~input/box" to="bboxes_to_bbox/output" />
      <rosparam>
        frame_id: base
        use_multiple_attention: false
      </rosparam>
    </node>

    <!-- extract indices -->
    <node name="bbox_cloud_extract"
          pkg="nodelet" type="nodelet" args="load jsk_pcl/ExtractIndices $(arg manager)"
          output="screen" >
      <remap from="~input" to="$(arg input_cloud)" />
      <remap from="~indices" to="bbox_attention_clipper/output/point_indices" />
      <rosparam>
        keep_organized: true
        approximate_sync: true
        max_queue_size: 100
      </rosparam>
    </node>
  </group>

  <!-- tabletop object detector -->
  <include file="$(find jsk_pcl_ros)/sample/tabletop_object_detector.launch">
    <!-- arg name="input" value="$(arg input_cloud)" / -->
    <arg name="manager" value="$(arg manager)" />
    <arg name="input" value="$(arg CLOUD)" />
    <arg name="sensor_frame" value="/$(arg camera_frame_id)" />
    <arg name="launch_manager" value="false" />
    <arg name="launch_openni" value="false" />
    <arg name="launch_tracking" value="false" />
    <arg name="launch_rviz" value="false" />
  </include>
  <group ns="plane_extraction">
    <rosparam subst_value="true">
      min_height: 0.01
      use_async: true
      max_queue_size: 300
    </rosparam>
  </group>
  <group ns="euclidean_clustering">
    <rosparam subst_value="true">
      downsample_enable: true
      leaf_size: 0.01
    </rosparam>
  </group>
  <group ns="segmentation_decomposer">
    <rosparam subst_value="true">
      align_boxes: true
      align_boxes_with_plane: false
      target_frame_id: base
      use_pca: true
      sort_by: cloud_size
      approximate_sync: true
      queue_size: 300
    </rosparam>
  </group>

  <node name="tabletop_cpi_to_pi"
        pkg="nodelet" type="nodelet" args="load jsk_pcl_utils/ClusterPointIndicesToPointIndices $(arg manager)"
        output="screen" >
    <remap from="~input" to="segmentation_decomposer/cluster_indices" />
    <rosparam>
      index: 0
    </rosparam>
  </node>
  <node name="tabletop_cloud_extract"
        pkg="nodelet" type="nodelet" args="load jsk_pcl/ExtractIndices $(arg manager)"
        output="screen" >
    <remap from="~input" to="plane_extraction/output" />
    <remap from="~indices" to="tabletop_cpi_to_pi/output" />
    <rosparam>
      keep_organized: true
      approximate_sync: true
      max_queue_size: 100
    </rosparam>
  </node>
  <node name="tabletop_outlier_removal"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/OrganizedStatisticalOutlierRemoval $(arg manager)">
    <remap from="~input" to="tabletop_cloud_extract/output" />
    <rosparam>
      mean_k: 30
      stddev: 0.4
      keep_organized: true
    </rosparam>
  </node>
  <node name="tabletop_resize_points_publisher"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/ResizePointsPublisher $(arg manager)">
    <remap from="~input" to="tabletop_outlier_removal/output" />
    <rosparam>
      step_x: 2
      step_y: 2
    </rosparam>
  </node>
  <node name="tabletop_cloud_to_cpi"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl_utils/PointCloudToClusterPointIndices $(arg manager)">
    <remap from="~input" to="tabletop_resize_points_publisher/output" />
    <rosparam>
      skip_nan: true
    </rosparam>
  </node>
  <node name="tabletop_cpi_decomposer"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg manager)">
    <remap from="~input" to="tabletop_resize_points_publisher/output" />
    <remap from="~target" to="tabletop_cloud_to_cpi/output" />
    <rosparam>
      align_boxes: true
      align_boxes_with_plane: false
      target_frame_id: base
      use_pca: true
      sort_by: -cloud_size
      approximate_sync: true
      queue_size: 300
    </rosparam>
  </node>

</launch>
