<launch>
  <arg name="head" default="true" />
  <arg name="respeaker" default="true" />
  <arg name="mirror" default="false" />
  <arg name="republish" default="false" />

  <!-- camera -->
  <arg name="camera_ns" default="realsense_head" />
  <arg name="spherical_camera_ns" default="kodak_head" />
  <arg name="spherical_left_camera_ns" default="elp_head_left" />
  <arg name="spherical_right_camera_ns" default="elp_head_right" />

  <!-- launch rviz overlay -->
  <node name="rosconsole_overlay_text"
        pkg="jsk_rviz_plugins" type="rosconsole_overlay_text.py">
    <rosparam>
      nodes:
        - /baxter_vr_main
      exclude_regexes:
        - .*follow_joint_trajectory.*
        - .*:joint-angle.*
        - .*:wait-interpolation-until.*
        - ^;;.*
        - if you do not have gripper,.*
    </rosparam>
  </node>

  <!-- launch robot sounder -->
  <node name="eus_vive_status_sounder"
      pkg="eus_vive" type="eus_vive_status_sounder.py">
    <remap from="~output/sound" to="/robotsound" />
    <remap from="~input/status" to="/eus_vive/status" />
  </node>
  <include file="$(find eus_vive)/launch/include/audio_play.launch" if="$(arg respeaker)" />
  <node name="soundplay_node"
        pkg="sound_play" type="soundplay_node.py">
    <remap from="sound_play" to="robotsound" />
  </node>
  <node name="soundplay_jp_node"
        pkg="sound_play" type="soundplay_node.py">
    <remap from="robotsound" to="robotsound_jp" />
    <remap from="sound_play" to="robotsound_jp" />
  </node>

  <!-- launch camera republish-->
  <group if="$(arg republish)">
    <node name="realsense_rgb_decompress" pkg="image_transport" type="republish"
          args="compressed in:=/$(arg camera_ns)/color/image_raw
                           out:=/$(arg camera_ns)_remote/color/image_raw" />
    <node name="realsense_depth_decompress" pkg="image_transport" type="republish"
          args="compressedDepth in:=/$(arg camera_ns)/depth/image_rect_raw
                                out:=/$(arg camera_ns)_remote/depth/image_rect_raw" />
    <node name="spherical_decompress" pkg="image_transport" type="republish"
          args="compressed in:=/$(arg spherical_camera_ns)/image_raw
                           out:=/$(arg spherical_camera_ns)_remote/image_raw" />
    <node name="spherical_left_decompress" pkg="image_transport" type="republish"
          args="compressed in:=/$(arg spherical_left_camera_ns)/image_raw
                           out:=/$(arg spherical_left_camera_ns)_remote/image_raw" />
    <node name="spherical_right_decompress" pkg="image_transport" type="republish"
          args="compressed in:=/$(arg spherical_right_camera_ns)/image_raw
                           out:=/$(arg spherical_right_camera_ns)_remote/image_raw" />
  </group>

  <!-- launch rviz -->
  <group if="$(arg head)">
    <node name="$(anon vr_rviz)" pkg="rviz" type="rviz" if="$(arg republish)"
          args="-d $(find eus_vive)/rvizconfig/baxter/baxter_vr_remote_hmd_visualization.rviz" />
    <node name="$(anon vr_rviz)" pkg="rviz" type="rviz" unless="$(arg republish)"
          args="-d $(find eus_vive)/rvizconfig/baxter/baxter_vr_hmd_visualization.rviz" />
  </group>
  <group unless="$(arg head)">
    <node name="$(anon vr_rviz)" pkg="rviz" type="rviz" if="$(arg mirror)"
          args="-d $(find eus_vive)/rvizconfig/baxter/baxter_vr_mirror_visualization.rviz" />
    <group unless="$(arg mirror)">
      <node name="$(anon vr_rviz)" pkg="rviz" type="rviz" if="$(arg republish)"
            args="-d $(find eus_vive)/rvizconfig/baxter/baxter_vr_remote_display_visualization.rviz" />
      <node name="$(anon vr_rviz)" pkg="rviz" type="rviz" unless="$(arg republish)"
            args="-d $(find eus_vive)/rvizconfig/baxter/baxter_vr_display_visualization.rviz" />
      <node name="$(anon vis_top_rviz)" pkg="rviz" type="rviz"
            args="-d $(find eus_vive)/rvizconfig/baxter/baxter_top_visualization.rviz" />
      <node name="$(anon vis_front_rviz)" pkg="rviz" type="rviz"
            args="-d $(find eus_vive)/rvizconfig/baxter/baxter_front_visualization.rviz" />
    </group>
    <!--
    <node name="$(anon vis_rviz)" pkg="rviz" type="rviz" unless="$(arg mirror)"
          args="-d $(find eus_vive)/rvizconfig/baxter/baxter_visualization.rviz" />
    -->
  </group>

  <!-- launch rqt_gui -->
  <include file="$(find eus_vive)/launch/include/rqt_gui.launch" />

</launch>
