<launch>
  <arg name="twitter" default="true" />
  <arg name="influxdb" default="true" />
  <arg name="debug" default="false" />
  <arg name="camera" default="true" />
  <arg name="camera_ns" default="realsense_torso" />
  <arg name="spherical_camera" default="true" />
  <arg name="spherical_stereo" default="true" />
  <arg name="spherical_camera_ns" default="kodak_head" />
  <arg name="spherical_left_camera_ns" default="elp_head_left" />
  <arg name="spherical_right_camera_ns" default="elp_head_right" />
  <arg name="twitter_image_topics" default="/$(arg camera_ns)/color/image_rect_color" />
  <arg name="home_dir" default="$(env HOME)" />

  <!-- mongodb -->
  <include file="$(find jsk_robot_startup)/lifelog/mongodb.launch">
    <arg name="use_daemon" value="false"/>
    <arg name="port" value="27017" />
    <arg name="repl_set_mode" value="false" />
  </include>
  <include file="$(find eus_vive)/launch/baxter/baxter_db_client.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="camera" value="$(arg camera)" />
    <arg name="camera_ns" value="$(arg camera_ns)" />
    <arg name="spherical_camera" value="$(arg spherical_camera)" />
    <arg name="spherical_stereo" value="$(arg spherical_stereo)" />
    <arg name="spherical_camera_ns" value="$(arg spherical_camera_ns)" />
    <arg name="spherical_left_camera_ns" value="$(arg spherical_left_camera_ns)" />
    <arg name="spherical_right_camera_ns" value="$(arg spherical_right_camera_ns)" />
  </include>

  <!-- rosbag -->
  <node name="baxter_vr_rosbag_record" pkg="rosbag" type="record"
        args="/eus_vive/status /tf /robot/joint_states
              /lifelog/rgb/image_rect_color/compressed
              /lifelog/rgb/camera_info
              /lifelog/spherical_left_rgb/image_raw/compressed
              /lifelog/spherical_left_rgb/camera_info
              /lifelog/spherical_right_rgb/image_raw/compressed
              /lifelog/spherical_right_rgb/camera_info
              /lifelog/depth/image_rect_raw/compressedDepth
              /lifelog/depth/camera_info
              --output-prefix $(arg home_dir)/.ros/eus_vive/rosbag/baxter_vr"
        output="screen" if="$(arg spherical_stereo)" />
  <node name="baxter_vr_rosbag_record" pkg="rosbag" type="record"
        args="/eus_vive/status /tf /robot/joint_states
              /lifelog/rgb/image_rect_color/compressed
              /lifelog/rgb/camera_info
              /lifelog/spherical_rgb/image_raw/compressed
              /lifelog/spherical_rgb/camera_info
              /lifelog/depth/image_rect_raw/compressedDepth
              /lifelog/depth/camera_info
              --output-prefix $(arg home_dir)/.ros/eus_vive/rosbag/baxter_vr"
        output="screen" unless="$(arg spherical_stereo)" />

  <!-- tweeting robot warning data and etc. -->
  <include file="$(find jsk_robot_startup)/lifelog/tweet.launch" if="$(arg twitter)">
    <arg name="robot_name" value="Baxter"/>
    <arg name="worktime_enable" value="true"/>
    <arg name="uptime_enable" value="false"/>
    <arg name="tablet_enable" value="false"/>
    <arg name="warning_enable" value="false"/>
    <arg name="motor_subscribe" value="true"/>
    <arg name="odom_subscribe" value="false"/>
    <arg name="joint_state_subscribe" value="true"/>
    <arg name="position_diff_threshold" default="0.01"/>
    <arg name="remap_motor_state" value="/robot/servo_state"/>
    <arg name="remap_joint_states" value="/robot/joint_states"/>
    <arg name="image_topics" value="$(arg twitter_image_topics)"/>
    <arg name="machine" value="localhost"/>
    <arg name="output" value="screen"/>
    <arg name="account_info" value="/var/lib/robot/twitter_account_baxter_jsk.yaml" />
  </include>

  <include file="$(find influxdb_store)/sample/baxter_influxdb_logger.launch" if="$(arg influxdb)">
    <arg name="robot_name" value="baxter"/>
  </include>

</launch>
