# kodak video
KERNEL=="video[0-9]*", SUBSYSTEM=="video4linux", SUBSYSTEMS=="usb", ATTRS{idVendor}=="040a", ATTRS{idProduct}=="0426", GROUP="video", MODE="0666", SYMLINK+="kodak-head"
