<launch>
  <arg name="INPUT_IMAGE" />

  <arg name="gpu" default="0" />

  <node name="mask_rcnn_instance_segmentation"
        pkg="jsk_perception" type="mask_rcnn_instance_segmentation.py"
        clear_params="true">
    <remap from="~input" to="$(arg INPUT_IMAGE)" />
    <rosparam subst_value="true">
      gpu: $(arg gpu)
      model_name: mask_rcnn_fpn_resnet50
      pretrained_model: coco
    </rosparam>
  </node>
</launch>
