<launch>
  <arg name="CAMERA_INFO" />
  <arg name="RGB_CAMERA_INFO" />
  <arg name="COMP_IMAGE_COLOR" />
  <arg name="COMP_IMAGE_DEPTH" />
  <arg name="home_dir" default="$(env HOME)" />
  <arg name="compress" default="false" doc="whether compress rosbag or not." />

  <!-- compress flag-->
  <arg if="$(arg compress)" name="compress_flag" value="--bz2" />
  <arg unless="$(arg compress)" name="compress_flag" value="" />

  <node name="pr2_rosbag_record" pkg="rosbag" type="record"
        args="/eus_vive/status /tf /joint_states
              $(arg CAMERA_INFO)
              $(arg RGB_CAMERA_INFO)
              $(arg COMP_IMAGE_COLOR)
              $(arg COMP_IMAGE_DEPTH)
              -q $(arg compress_flag) -b 0
              --output-prefix $(arg home_dir)/.ros/eus_vive/rosbag/pr2"
        output="screen" />

</launch>
