<launch>
  <arg name="camera_ns" default="realsense" />
  <arg name="manager" default="realsense_camera_manager" />
  <arg name="publish_tf" default="false" />
  <arg name="color_width" default="640" />
  <arg name="color_height" default="480" />
  <arg name="depth_width" default="640" />
  <arg name="depth_height" default="480" />

  <include file="$(find eus_vive)/launch/include/realsense.launch">
    <arg name="camera_ns" value="$(arg camera_ns)" />
    <arg name="manager" value="$(arg manager)" />
    <arg name="publish_tf" value="$(arg publish_tf)" />
    <arg name="color_width"  value="$(arg color_width)" />
    <arg name="color_height" value="$(arg color_height)" />
    <arg name="depth_width"  value="$(arg depth_width)" />
    <arg name="depth_height" value="$(arg depth_height)" />
  </include>
</launch>
