<launch>
  <include file="$(find jsk_robot_startup)/lifelog/mongodb.launch">
    <arg name="use_daemon" value="false"/>
    <arg name="port" value="27017" />
    <arg name="repl_set_mode" value="false" />
  </include>
  <include file="$(find eus_vive)/launch/include/db_client.launch">
    <arg name="twitter" value="true" />
  </include>
</launch>
